In [2]:
import requests
import pandas as pd
from tqdm import tqdm
from bs4 import BeautifulSoup

In [35]:
df = pd.read_csv('quotes.csv')

In [36]:
del df['quote']
del df['tags']

In [37]:
df.drop_duplicates(inplace = True)

## Creating Textfile for Author Information

In [7]:
data = df.values

for i in tqdm(range(len(data))):
    
    author = data[i][0]
    link   = data[i][1]
    
    res = requests.get(link)
    soup = BeautifulSoup(res.text,'html.parser')
    
    text = soup.find('div', class_ = 'author-details').text
    
    fd = open('Authors/' + author + '.txt', 'w')
    fd.write(text)
    fd.close()

100%|███████████████████████████████████████████| 47/47 [01:26<00:00,  1.83s/it]

## Creating CSV for Author Information

In [15]:
data = df.values

authors = []

for i in tqdm(range(len(data))):
    
    author = data[i][0]
    link   = data[i][1]
    
    res = requests.get(link)
    soup = BeautifulSoup(res.text,'html.parser')
    
    text = soup.find('div', class_ = 'author-details').text.strip()
    
    authors.append(text)

100%|███████████████████████████████████████████| 47/47 [01:33<00:00,  1.99s/it]

In [38]:
df['path'] = 'Authors/' + df['author']+ '.txt'
df['author_info'] = authors

In [39]:
df.head()

,author,author_id,path,author_info
0,Marilyn Monroe,https://quotes.toscrape.com/author/Marilyn-Monroe,Authors/Marilyn Monroe.txt,"Marilyn Monroe\nBorn: June 01, 1926 in The Uni..."
1,J.K. Rowling,https://quotes.toscrape.com/author/J-K-Rowling,Authors/J.K. Rowling.txt,"J.K. Rowling\nBorn: July 31, 1965 in Yate, Sou..."
2,Albert Einstein,https://quotes.toscrape.com/author/Albert-Eins...,Authors/Albert Einstein.txt,"Albert Einstein\nBorn: March 14, 1879 in Ulm, ..."
3,Bob Marley,https://quotes.toscrape.com/author/Bob-Marley,Authors/Bob Marley.txt,"Bob Marley\nBorn: February 06, 1945 in Nine Mi..."
4,Dr. Seuss,https://quotes.toscrape.com/author/Dr-Seuss,Authors/Dr. Seuss.txt,"Dr. Seuss\nBorn: March 02, 1904 in Springfield..."

In [40]:
df.to_csv('authors.csv', index = False)